
{% extends 'core/base.html' %}
{% load static %}
{% block content %}

  <!--banner-->
  <div class="banner">
    <div class="content">
      <h1>Todas las Herramientas y Accesorios con un 50% De Descuento</h1>
      <div id="bannerbtn"><button>Comprar Ahora</button></div>
    </div>
  </div>
  <!--banner-->

  <!-- product cards -->
  <div class="container" id="product-cards">
    <h1 class="text-center">PRODUCTOS</h1>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="{%  static './img2/Semilla Tomate.jpg' %}" alt="">
                <div class="card-body">
                    <h3>Semillas de Tomate</h3>
                    <div class="star">
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                    </div>
                    <h5>$1.459 <strike>$2.990</strike> <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="{% static './img2/pala.jpg' %}" alt="">
                <div class="card-body">
                    <h3>Pala Metalica</h3>
                    <div class="star">
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                    </div>
                    <h5>$6.745 <strike>$13.490</strike> <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="{% static  './img2/Rastrillo.jpg' %}" alt="">
                <div class="card-body">
                    <h3>Rastrillo</h3>
                    <div class="star">
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                    </div>
                    <h5>$8.995 <strike>$17.990</strike> <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
              <img src="{% static './img2/Semilla de Hierba para Gato Anasac.jpg' %}" alt="">
              <div class="card-body">
                  <h3>Semillas Hierbas De Gato</h3>
                  <div class="star">
                      <i class="fas fa-star checked"></i>
                      <i class="fas fa-star checked"></i>
                      <i class="fas fa-star checked"></i>
                      <i class="fas fa-star checked"></i>
                      <i class="fas fa-star checked"></i>
                  </div>
                  <h5>$1.745 <strike>$3.490</strike> <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
              </div>
          </div>
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="{% static './img2/semilla perejil.jpg'  %}" alt="">
                <div class="card-body">
                    <h3>Semillas perejil</h3>
                    <div class="star">
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                    </div>
                    <h5>$1.370 <strike>$2.739</strike> <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="{% static './img2/Maseta.jfif' %}" alt="">
                <div class="card-body">
                    <h3>Macetero gris </h3>
                    <div class="star">
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                    </div>
                    <h5>$12.995 <strike>$25.990</strike> <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="{% static './img2/Semilla Trébol.jpg' %}" alt="">
                <div class="card-body">
                    <h3>Semillas Trebol</h3>
                    <div class="star">
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                        <i class="fas fa-star checked"></i>
                    </div>
                    <h5>$1.370 <strike>$2.739</strike> <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
                </div>
            </div>
        </div>

  </div>
  <!-- product cards -->

  <!-- product -->
    <div class="container" style="margin-top: 100px;">
      <hr>
    </div>
    <div class="container">
      <h3 style="font-weight: bold;">PRODUCTOS.</h3>
      <p>Todos nuestros productos son de calidad y certificados</p>

      <hr>
    </div>
  <!-- product -->

  <!-- offer -->
    <div class="container" id="offer">
      <div class="row">
          <div class="col-md-4 py-3 py-md-0">
              <i class="fa-solid fa-cart-shopping"></i>
              <h5>Envio Gratis</h5>
              <p>Por compras sobre $30.000</p>
          </div>
          <div class="col-md-4 py-3 py-md-0">
              <i class="fa-solid fa-truck"></i>
              <h5>Envio Rapido</h5>
              <p>Todo Chile</p>
          </div>
          <div class="col-md-4 py-3 py-md-0">
              <i class="fa-solid fa-thumbs-up"></i>
              <h5>Gran Opcion</h5>
              <p>Muchos Productos y Ofertas</p>
          </div>
      </div>
  </div>
  <!-- offer -->
  
 {% endblock %}